<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">


<suite name="Web Automation">
    <listeners>
        <listener class-name="ScreenShotOnFailureListener"></listener>
    </listeners>

    <test name="Web Automation">
        <classes>
            <class name="HelloWorld"/>
        </classes>
    </test>
</suite>
